# Copy to the same filename without .example; see README.md.
data:
  target_file_path: data/query/black/target/gte/naive.json
sampling:
  process_cwe:
  - CWE-787
  - CWE-416
  - CWE-125
  - CWE-476
  - CWE-20
  - CWE-200
  - CWE-119
  - CWE-362
  min_condidate_num: 0
  max_condidate_num: 32768
attack:
  optimizer: naive
